To do:
- create per division mean value of:
    - rounds
    - age
    - bouts
    - age
    - losses
    - draws
    - height
    - reach
        - reach relative to height
    - time since debut >> == (current date - debut)

- for values missing in:
    - age:
        - no data = average age of division 
    - reach:
        - reach == (height + reach relative to height for division)
    - height:
        ???
    - stance:
        ???

age - missing = 19/793 - pct missing = 2.4%
stance - missing = 82/793 - pct missing = 10.34%    
height - missing = 98/793 - pct missing = 12.36%    
reach - missing = 380/793 - pct missing = 47.92%    
birth place - missing = 79/793 - pct missing = 9.96%

In [13]:
import pandas as pd
import numpy as np

boxrec_data = pd.read_csv('boxrec_tables.csv')
df = pd.DataFrame(boxrec_data)

In [14]:
df.replace(to_replace=r'^NODAT.$', value=np.nan, regex=True, inplace=True)

In [15]:
df.insert(3, 'div index', '')

In [16]:
div_list = ['heavy', 'cruiser', 'lightheavy', 'supermiddle', 'middle', 'superwelter', 'welter', 'superlight', 'light', 'feather', 'superbantam', 'bantam', 'superfly', 'fly', 'lightfly', 'minimum']

x = 0
for value in df['division']:
    df.at[x, 'div index'] = div_list.index(value)
    x += 1

In [17]:
ds = df.sort_values(by=['div index', 'division rating'], ascending=True)
rounds = df.sort_values(by=['rounds'], ascending = False)

In [26]:
ds

,name,division rating,division,div index,bouts,rounds,KOs,debut,age,stance,height,reach,residence,birth place,wins,losses,draws,KO wins,KO losses
26,Oleksandr Usyk,1,heavy,0,20,168,65.00,2013-12-14,35,southpaw,191,198,Oxnard California,Shypyntsi Ukraine,20,0,0,13,0
339,Anthony Joshua,2,heavy,0,27,136,81.48,2013-10-26,33,orthodox,198,208,Watford Hertfordshire United Kingdom,Watford Hertfordshire United Kingdom,24,3,0,22,1
331,Andy Ruiz,4,heavy,0,37,187,59.46,2009-06-26,33,orthodox,188,188,Imperial California,Imperial California,35,2,0,22,0
283,Dillian Whyte,5,heavy,0,31,170,61.29,2011-09-16,35,orthodox,193,198,Brixton London United Kingdom,Port Antonio Jamaica,28,3,0,19,3
218,Joe Joyce,6,heavy,0,15,74,93.33,2018-02-16,37,orthodox,198,203,Putney London United Kingdom,London United Kingdom,15,0,0,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,Loyiso Ngantweni,47,minimum,15,32,155,28.13,2003-09-02,42,NaN,NaN,NaN,East London Eastern Cape South Africa,Mqanduli Eastern Cape South Africa,10,17,5,9,7
696,Phumlani Maloni,48,minimum,15,12,73,25.00,2016-09-25,NaN,NaN,NaN,NaN,Eastern Cape South Africa,NaN,7,4,1,3,2
727,Yuri Kanaya,49,minimum,15,3,17,0.00,2021-10-20,26,orthodox,155,NaN,Tokyo Japan,Nakagawa Fukuoka Japan,3,0,0,0,0
778,Sora Takeda,50,minimum,15,10,43,10.00,2017-08-27,22,southpaw,162,NaN,Kumamoto Kumamoto Japan,Kumamoto Kumamoto Japan,6,4,0,1,2
780,Cris Ganoza,51,minimum,15,24,125,37.50,2014-01-25,28,southpaw,165,NaN,Matalom Leyte Philippines,Matalom Leyte Philippines,19,5,0,9,3